<% include partials/header %>

<div class="row">
        

    <% include partials/sidenav %>

    
        <div  id="listadluz" class="col mr-4 rounded shadow">
                <h3><strong>Lista osob ktore pozyczyly leki</strong></h3>
                        <% doc.forEach((doc, index)=>{ %>
                        <div class="row bg-info border rounded">
                                <div class="col"><h5>p. <%=doc.name%></h5></div>
                        </div>
                        <div class="row border-bottom rounded border-info">
                                <div class="col-1 tex"> <h6> No</h6></div>
                                <div class="col"> <h6 class="text-nowrap"> Nazwa leku</h6></div>
                                <div class="col text-center"> <h6> Ilość op.</h6></div>
                                <div class="col"> <h6> Wydał</h6></div>
                                <div class="col-3 text-center"> <h6> Data wydania</h6></div>
                                <div class="col-3 text-center"> <h6> Uwagi</h6></div>      
                        </div>
                        <% doc.lekipoz.forEach((doc2, index, arr)=>{%>   
                <div class="row">
                        <div class="col-1"><%=numercol++%></div>
                        <div class="col"><%=doc2.nazwaleku%></div>
                        <div class="col text-center"><%=doc2.ilosc%></div>
                        
                        <% if (!doc2.wydajacy) { %>
                                <div class="col"><%=arr[index-1].wydajacy%></div>
                        <% } else { %>
                                <div class="col"><%=doc2.wydajacy%></div>
                        <% } %>
                        
                        

                        <% if (!doc2.datawydania) { %>
                                <div class="col-3 text-center"><%=arr[index-1].datawydania%></div>
                        <% } else { %>
                                <div class="col-3"><%=doc2.datawydania%></div>
                         <% } %>
                         
                         
                         <% if (doc2.uwagi) { %>
                                <div class="col-3 text-center"><%=doc2.uwagi%></div>
                                <% } else { %>
                                        <div class="col-3 text-center">brak</div>
                                        
                          <% } %>


                                                
                </div>

                
                <%})%>
                <%numercol=1%>
                <%})%>


        </div>
</div>
    


<% include partials/footer %>