<% include partials/header %>

<div class="row">
        

    <% include partials/sidenav %>

    <div class="col-2"><h4 class="text-center"><strong>Wybierz osobe</strong></h4>
        <div class="container border border-info rounded">

            <div class="row bg-info rounded mb-lg-3">
                <h5 class="col-3 text-center">Lp</h5>
                <h5 class="col text-center">Osoba</h5>        
            </div>
            <form action="/patientedit" method="POST" class="form-group">
                <% doc.forEach((doc, index)=>{ %>
                    <div class="row">
                        <h6 class="col-3 text-center"><%=numercol++%></h6>
                        
                        <div class="col form-check ml-lg-5">
                            <input class="form-check-input" type="radio" name="name" id="<%=doc.name%>" value="<%=doc.name%>" required>
                            <label class="form-check-label" for="<%=doc.name%>">
                                <h6><%=doc.name%></h6>
                            </label>
                        </div>
                        
                        
                        <!-- <h6 class="col text-center"><%=doc.name%></h6>         -->
                    </div>
                    <%})%>
                    <button type="submit" class="btn btn-info mt-lg-2">Zatwierdz</button>
                </div>
            </form>
        </div>
    


    
</div>
    


<% include partials/footer %>